# Avoid to commit any binary data
*.psd
*.zip
*.7zip
*.tar
*.rar

*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.sass-cache
*.vi
*~
*.gem
*.rbc
logs
*.log
*.map
.grunt

.DS_Store
._*
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.vscode
.externalToolBuilders
.settings
.metadata

# Dependency directory
node_modules

# Compiled files
*.css

# Ignore code coverage
coverage
